# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Terraform plans
*.tfplan
tfplan

# Terraform crash logs
crash.log
crash.*.log

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / IDE
.DS_Store
.vscode/
#Other
*.drawio